# Q2. You will be given a list. You have to print a list whose 1st element should be largest and 2nd should be the smallest then the 3rd should be 2nd largest and 4th should be 2nd smallest and so on.
Input Format:

The first line will have space-separated elements of the list.

Output Format:

Print the required list.

Sample Input 0:

1 2 3 4 5 6

Sample Output 0:

6 1 5 2 4 3

In [ ]:
# Given list
L1 = [1,2,3,4,5,6]

# len function
length = len(L1)

#creating empty list
L3 = []

#sorting in particular order
L2 = [L1[5],length-5,L1[4],length-4,L1[3],length-3]

#using for loop and while loop 
for i in L2:
  while L2:
    L3.append(i)  # appending the values into list
    break

#printing the output
print("The required output : ",L3)

The required output :  [6, 1, 5, 2, 4, 3]

In [ ]:
# Given list
L1 = [1,2,3,4,5,6]

# len function
length = len(L1)

#creating empty list
L3 = []

a = L1[:-4:-1]
b = L1[0]

#using for loop and while loop
for i in a:
  while True:
    L3.append(i)
    L3.append(b)
    break
  b=b+1
#printing output

print("The required output : ",L3)

The required output :  [6, 1, 5, 2, 4, 3]